@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@1,700&family=Delius+Unicase:wght@700&family=Inter:wght@400;500&family=Playfair:wght@500&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:
        #8CC461;
}

.upperDiv {
    height: 130px;
    border: 2px white solid;
    border-radius: 10px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding: 14px;
    margin: 48px;
}

.headingLeft {
    font-family: 'Roboto', sans-serif;
    color: white;
    letter-spacing: 5px;
    line-height: 35px;
    font-size: 30px;
}

.scores {
    display: flex;
    justify-content: space-between;
    width: 245px;
}

.computerScore {
    line-height: 18px;
    color: #656565;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    height: auto;
    width:44%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    font-weight: 900;
}

.yourScore {
    line-height: 18px;
    color: #656565;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    height: auto;
    width: 44%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    font-weight: 900;
}

#compScore{
    font-size: 55px;
    color: #252526;
    margin-block: 19px;
    font-weight: 900;
}

#yrScore{
    font-weight: 900;
    font-size: 55px;
    color: #252526;
    margin-block: 19px;
}



/* lower div */

.lowerDiv{
    /* display: none; */
    position: relative;
}
.triangle{
    margin-top: 65px;
    display: flex;
   
}
.side1{
    opacity: 0.66;
    background-color: #000000;
    margin: 0px -32px 0px 0px;
    height:220px;
    width: 10px;
    transform: rotate(145deg);
}
.side2{
    opacity: 0.66;
    background-color: #000000;
    height: 11px;
    width: 220px;
    border: 2px solid black;
    
}
.side3{
    opacity: 0.66;
    background-color: #000000;
    margin: 0px 0px 0px -32px;
    height: 220px;
    width: 10px;
    transform: rotate(35deg);
}

.stone{
    background-repeat: no-repeat;
    background-image: url(stone.png);
    background-color: white;
    background-position: 5px 12px;
    position: absolute;
    height: 129px;
    border: 19px solid #0074B6;
    border-radius: 50%;
    width: 129px;
    top: 13px;
    right: 145px;
}
.scissor{
    background-repeat: no-repeat;
    background-image: url(scissor.png);
    background-position: 26px 17px;
    background-color: white;
    position: absolute;
    height: 129px;
    border: 19px solid #BD00FF;
    border-radius: 50%;
    width: 129px;
    top: 13px;
    left: 145px;
}
.paper{     
      background-repeat: no-repeat;
    background-image: url(paper.png);
    background-position: 10px 8px;
    background-color: white;
     bottom: -36px;
    position: absolute;
    height: 129px;
    border: 19px solid #FFA943;
    border-radius: 50%;
    width: 129px;
    left: 23px;
}
.hand{
    cursor: pointer;
    transform: rotateZ(45deg);
    box-shadow: 5px 5px 12px silver;

}
.hand:hover{
    transform: translate3d(16px,14px,14px);
    transition: all 0.6s;
    box-shadow: -5px -5px 14px grey;
}
.buttonRules{
    cursor: pointer;
    font-size: 1.1rem;
    letter-spacing: 3px;
    font-weight: 600;
    position: fixed;
    color: white;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    bottom: 25px;
    right: 35px;
    background-color: #8CC461;
    padding: 6px 13px 6px 13px;
    border: 2px solid white;
}
.buttonRules:hover{
    box-shadow:3px 3px 10px #252526;
    font-size: 1.2rem;
    transform: translate3d(10px 10px 10px);
    transition: all 0.35s;
}
.gameRules{
    z-index: 2;
 /* display: none; */
    padding: 16px 19px 18px 28px;
    position: absolute;
    color: #ffffff;
    background-color: #004429;
    border: 7px solid white;
    border-radius: 13px;
    bottom: 14%;
    right: 3%;
    font-weight: 100;
}
.gameRules h4{
    margin: 0px 10px 20px 0;
    font-size: 1.7rem;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 500;
}


nav ul{
    list-style: none;
}
li{
    word-spacing: 1px;
    line-height: 15px;
    margin-block: 8px;
    font-weight: lighter;
    font-size: 14px;
}

    ul li::before {
        font-size: 1.1rem;
    height: 0px;
    content: "\25A0";
    color: #FFD600;
    font-weight: bold;
    display: inline-block;
    width: 1.1em;
    margin-left: -1em;
    margin-top: 0px;
      }

      .gameRules button{
        cursor: pointer;
        position: absolute;
        border: 6px white solid;
        border-radius: 50%;
        background-color: red;
        font-size: 34px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: white;
        width: 50px;
        height: 50px;
        font-weight: 900;
        top: -34px;
        right: -10%;
      } 
      .gameRules button:hover{
        box-shadow:3px 3px 10px #252526;
    font-size: 34px;
    transform: translate3d(10px 10px 10px);
    transition: all 0.35s;
      }
      .answer{
        display: none;
        /* display: flex; */
        justify-content: space-evenly;
      }
      .youPicked{
        display: flex;
        flex-direction: column;
      }
    .youPicked h2{
    top: 45%;
    position: absolute;
    color: white;
    font-family: 'Roboto';
    font-size: 17px;
    letter-spacing: 3px;
    left: 23%;
}

      
      .infoWin{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        bottom: 28%;
      }
      .infoWin h3{
        font-family: 'Roboto';
    color: white;
    font-weight: 900;
    font-size: 1.5rem;
    letter-spacing: 2px;
      }
      .infoWin h1{
        font-size: 2.3rem;
        font-family: 'Roboto';
        color: white;
        font-weight: 900;
        /* font-size: 1.5rem; */
        letter-spacing: 3px;
      }
      .infoWin button{
        font-weight: bold;
    color: #6B6B6B;
    padding: 10px;
    border: none;
    border-radius: 9px;
    width: 150px;
    font-size: 13px;
    letter-spacing: 1px;
      cursor: pointer;}
      .infoWin button:hover{
        box-shadow:3px 3px 10px #252526;
    font-size: 0.8rem;
    transform: translate3d(14px 14px 15px);
    transition: all 0.35s;
}
      
      .pcPicked{
        display: flex;
        flex-direction: column;
      }
.pcPicked h2{
    top: 45%;
    position: absolute;
    color: white;
    font-family: 'Roboto';
    font-size: 17px;
    letter-spacing: 3px;
    right: 23%;
}
      .imgYouPicked{
        bottom: 20%;
        background-repeat: no-repeat;
        background-image: url(stone.png);
        background-color: white;
        background-position: 24px 24px;
        position: absolute;
        height: 155px;
        border-radius: 50%;
        width: 155px;
        left: 21%;
         /* Adjust the color and size as per your preference */
    }
      

      .border-gradient {
        border: 45px solid;
        border-image: linear-gradient(to right, #0074B6 10px, red 10px, orange 10px, yellow 15px) 1;
      }

      .imgPcPicked{
        background-size: 103px;
        bottom: 20%;
        background-repeat: no-repeat;
        background-color: white;
        background-position: 5px 12px;
        position: absolute;
        height: 155px;
        border: 19px solid #0074B6;
        border-radius: 50%;
        width: 155px;
        right: 21%;
      }